@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(/src/assets/fonts/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "DM Mono";
  src: local("DM Mono"),
    url(/src/assets/fonts/DMMono-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "DM Mono";
  src: local("DM Mono"),
    url(/src/assets/fonts/DMMono-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DM Mono";
  src: local("DM Mono"),
    url(/src/assets/fonts/DMMono-Medium.ttf) format("truetype");
  font-weight: 500;
}
